*.lnk
*.priv.*
/flyspray.conf.php
.private.conf.php
/cache/*
/.htaccess
/_test*
/plugins/dokuwiki/conf/interwiki.conf
/plugins/dokuwiki/lib/bar_enhance.config.js
mail.class.php
/nbproject/private/
.workdir/tags/copy_tags.sql
/logs
/.logs
/includes/external/phpmailer/*.log
*.dia~
attachment_delete.config.php
/.vscode/launch.json
