/* Nux: mobile varia */
#pm-menu {
	display: flex;
	flex-wrap: wrap;
}
#pm-menu-list {
	display: contents !important;
}
@media only screen and (max-width: 1000px)  {
	/* search */
	span.save_search {
		position: static;
	}
	.save_search label {
		padding-left: 0;
	}
	div#search input#searchtext {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: .5em;
	}
	#searchstate {
		margin-top: .5em;
		display: block;
	}
	
	/* task list */
	#tasklist_table tr {
		display: flex;
		flex-wrap: wrap;
	}
	#tasklist_table :is(.task_summary, .colhead-summary) {
		flex-basis: 100%;
	}

	#tasklist_table :is(td, th):not(.ttcolumn, .caret)::before {
		content: '|';
		padding: .5em;
		margin: 0;
		font-weight: bold;
	}
	div#tasklist table :is(td, th) {
		padding-right: 0;
	}
	#tasklist_table tr {
		border-bottom:1px solid black;
	}

	div#tasklist table tr input {
		margin-top: 0;
	}

	#pagenumbers td {
		padding: .5em !important;
	}

	th.ttcolumn {
		width: calc(10px + 15px + 2px);
		box-sizing: border-box;
	}
	th.ttcolumn a {
		float: right;
	}
	
	/* quick show task form */
	div#showtask {
		position: fixed;
		right: 0;
		top: auto;
		bottom: 0;
		background: #e6eef6;
		padding: .5em;
		border: 1px solid #ccc;
	}
}
/* actions wrapping (task edit etc) */
#actionbuttons {
	display: flex;
	flex-wrap: wrap;
	row-gap: .5em;
}
/* related tasks wrapping */
@media only screen and (max-width: 800px)  {
	#related > table > tbody > tr {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}
	#related > table > tbody > tr > td {
		display: block;
		width: 100%;
	}
	:is(table#tasks_related, table#duplicate_tasks) {
		width: 100%;
		margin: 0;
	}
}
/* wrapping tabs (comments tab etc) */
html #submenu {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	top: 1px;
}
#submenu li {
	width: auto;
	height: auto;
	box-sizing: border-box;
}
@media only screen and (max-width: 600px)  {
	html #submenu {
		row-gap: .8em;
		margin: .8em 0;
	}
	#submenu li a.active {
		border-bottom-color: gray;
	}
}